*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header{
  width: 100%;
  height: 14vh;
  background-image: url(./images/headerBig.jpg);
  background-position: center;
}

.slogan{
  color: rgb(255, 255, 255, 0.9);
  margin-left: 10%;
  margin-top: 40px;
  letter-spacing: .8vw;
  text-transform: uppercase;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  .header{
    width: 100%;
    height: 14vh;
    background-image: url(./images/headerSmall.jpg);
    background-position: center;
  }
}